<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger overflow-auto text-justify" role="alert">
                <h4 class="alert-heading text-center">
                    <%= err.message %>
                </h4>
                <!-- <p>The page you are trying to reach doesn't exist. Please go back to the homepage</p> -->
                <p>
                    <% if (process.env.NODE_ENV!=='production' ) { %>
                        <%= err.stack %>
                            <% } %>
                </p>
                <hr>
                <p class="mb-0"><a href="/campgrounds" class="btn btn-primary">Back to home</a></p>
            </div>
        </div>
    </div>